<div class="row">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username Name</th>
                <th>Token</th>
                <th>User ID</th>
                <th></th>
            </tr>
            </thead>

            <tbody ng-repeat="account in accounts">
            <tr>
                <th scope="row">{{account.username}}</th>
                <td>{{account.authtoken}}</td>
                <td>{{account.userid}}</td>
                <td><span ng-click="deleteAccount(account.username)" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>
            </tr>
            </tbody>
        </table>
        <p ng-show="addAccountSuccess != null" class="text-success">{{addAccountSuccess}}</p>
    </div>

    <form ng-submit="addAccount()" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="username">Email address</label>
            <input ng-model="username" name="username" type="email" class="form-control" id="username"
                   placeholder="Email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <p ng-show="addAccountError != null" class="bg-danger">{{addAccountError}}</p>
        <button type="submit" class="btn btn-default">Add Account</button>
    </form>
</div>